:root {
    --colorblanco: #E5E5CB;
    
}


body {  
    background-color: #303030e3;
}


/* index */

.navbar-expand-lg.joha-nav {
    background-color: #1A120B;
}

.joha.nav-link.active {
    color: var(--colorblanco);
}

.joha.nav-link {
    color: var(--colorblanco);
}

.d-flex i.carrito {
    color: var(--colorblanco);
}

.card.joha-card {
    background-image: linear-gradient(#beb9b9, #dad8d7);
}


.joha-carousel {
    width: 80%;
}





.iconos-footer li {
    margin: 0;
    padding: 0;
    display: inline-block
}

.joha-footer {
    background-color: #1f1e1e;
}

.joha.iconos-footer i {
    color: var(--colorblanco);
    margin: .8em;
    padding: 0;
}

.joha.iconos-footer i.fb {
  border-radius: 50%;
}



/* nosotros */

.titulo-destacado {
    color: var(--colorblanco);
}

.titulo-destacado span{
    color: #FF8400;
}

.nosotros-iconos li {
    margin: 0;
    padding: 0;
    display: inline-block
}

.nosotros-iconos {
    margin: 3em 0;
}

.nosotros-iconos i {
    margin-right: .8em;
    padding: 0;
    transform: scale(100% , 100%);
}

.nosotros-iconos i:hover {
    transform: scale(110% , 110%);
}


.nosotros-iconos i.fb {
    color: #1877f2 ;
}

.nosotros-iconos i.ig {
    /* background: linear-gradient(#ffdc80,#fcaf45,#f77737,#f56040,#fd1d1d,#e1306c,#c13584,#833ab4,#5851db,#405de6); */
    /* color: (#ffdc80,#fcaf45,#f77737,#f56040,#fd1d1d,#e1306c,#c13584,#833ab4,#5851db,#405de6); */

    background: -webkit-linear-gradient(#ffdc80,#fcaf45,#f77737,#f56040,#fd1d1d,#e1306c,#c13584,#833ab4,#5851db,#405de6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text
}

.nosotros-iconos i.tw {
    color: #1da1f2;
}

.nosotros-iconos i.im {
    color: crimson;
}




/* carrito */

.tarjetas img {
    width: 5em;
}

.joha-carrito {
    background-color: #d6d6d6de;
}


.carrito-lista {
    border-radius: 4px;
}

.carrito-boton {
    background-color: #33a307c0;
    box-shadow: -.6px .7px gray;
}

.carrito-boton:hover {
    background-color: #2e9405c0;
    box-shadow: -.3px .4px gray;

}

.joha-eliminar-producto {
    background-color: #f52626;
    color: white;
    box-shadow: -.6px .7px gray;
}

.joha-eliminar-producto:hover {
    background-color: #e92424;
    color: white;
    box-shadow: -.3px .4px gray;
}



/* contacto */

.joha-form {
    background-color: #eee ;
}

